:root {
    --main-bg-color: rgb(19, 19, 19);
    --secondary-bg-color: rgb(27, 27, 27);
    --main-border-color: rgb(56, 56, 56);
    --main-border-hover: rgb(75, 75, 75);
    --main-text-color: rgb(224, 224, 224);
    --presence-cleared: #57fc41;
    --presence-marginal: #c4fc41;
    --presence-moderate: #fcef41;
    --presence-significant: #fc8c41;
    --presence-massive: #fc4141;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'Roboto', sans-serif;
}

#main {
    margin-top: 1rem;
    width: 100%;
}
  
@media screen and (min-width: 800px) {
    #main {
        width: 100%;
    }
}
  
@media screen and (min-width: 1000px) {
    #main {
        width: 85%;
    }
}

@media screen and (min-width: 1500px) {
    #main {
        width: 65%;
        max-width: 1500px;
    }
}

.boxstyle {
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--main-border-color);
    border-radius: 0.5rem;
    transition: border 400ms;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: auto;
    height: auto;
    padding: 1.3rem;
    margin: 0;
    margin-bottom: 1rem;
}

.boxstyle:hover {
    border: 1px solid var(--main-border-hover);
}

#navbox {
    padding: 1.3rem;
    margin-bottom: 1rem;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    flex-wrap: wrap;
    row-gap: 1rem;
}

#navbar-link-box {
    margin-right: 1rem;
}

#navbar-link {
    color: rgb(165, 165, 165);
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 1rem;
    transition: color 250ms;
}

#navbar-link:hover {
    color: #ff7100;
}

#navbar-title-box {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    column-gap: 0.4rem;
    row-gap: 0.5rem;
    flex-wrap: wrap;
}

#navbar-img {
    width: 3.3rem;
}

#navbar-title {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-weight: normal;
    font-size: 2.5rem;
    transition: color 300ms;
    font-family: 'Lexend', sans-serif;
}

#navbar-title:hover {
    color: #ff7100;
    cursor: default;
}

#navbar-subtitle {
    color: rgb(94, 94, 94);
    margin-top: 0rem;
    margin-bottom: 0.3rem
}

.contenttext article {
    width: auto;
}

.contenttext article p {
    margin-block-start: 0.7rem;
    margin-block-end: 0.7rem;
    width: auto;
    line-height: 1.6rem;
}

.contenttext h1 {
    margin: inherit;
    font-weight: normal;
    font-family: 'Lexend', sans-serif;
}

#incursions {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

#incstatus {
    font-size: 1.2rem;
    text-align: right;
    font-family: 'Lexend', sans-serif;
}

#incstatus-progress {
    -webkit-appearance: none;
    appearance: none;
}

#incstatus-progress-box {
    display: flex;
    gap: 0.3rem;
    margin-top: 0.5rem;
    justify-content: flex-end;
    align-items: flex-end;
}

#incstatus-progress-block {
    width: 30px;
    border: 1px solid var(--main-border-color);
    border-radius: 0.2rem;
}

.status-block-0 {
    background-color: var(--secondary-bg-color);
    
}

.status-block-1 {
    background-color: var(--presence-marginal);
}

.status-block-2 {
    background-color: var(--presence-moderate);
}

.status-block-3 {
    background-color: var(--presence-significant);
}

.status-block-4 {
    background-color: var(--presence-massive);
}

.blockheight-1 {
    height: 10px;
}

.blockheight-2 {
    height: 12px;
}

.blockheight-3 {
    height: 14px;
}

.blockheight-4 {
    height: 16px;
}

.subsection {
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-border-color);
    border-radius: 0.5rem;
    padding: 1rem;
    transition: border 400ms;
    overflow: hidden;
    flex-grow: 1;
}

.subsection:hover {
    border: 1px solid var(--main-border-hover);
}

.subsection-heading-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    flex-grow: 1;
}

.subsection-details-box {
    display: block;
}

.subsection-status-box {
    flex-grow: 1;
}

.subsection p {
    margin-top: 0.4rem;
    margin-bottom: 0rem;
}

.subsection h1 {
    margin: inherit;
    font-size: 1.3rem;
    font-family: 'Lexend', sans-serif;
}

.subsection-link-box {
    display: flex;
    justify-content: center;
    flex-grow: 2;
}

.subsection-link {
    display: block;
    width: 100%;
    text-align: center;
    background-color: var(--main-bg-color);
    border: 1px solid #ff7100;
    border-radius: 0.5rem;
    padding: 0.6rem;
    font-size: 1.1rem;
    color: #ff7100;
    transition: color 400ms, border-color 400ms;
    text-decoration: none;
}

.subsection-link:hover {
    color: var(--main-text-color);
    border-color: #ffffff;
}

.axiorange {
    color: #ff7100;
}

.regionname {
    color: rgb(87, 87, 87);
    margin-left: 0.2rem;
    font-size: 1rem;
}

.status-cleared {
    color: var(--presence-cleared);
}

.status-marginal {
    color: var(--presence-marginal);
}

.status-moderate {
    color: var(--presence-moderate);
}

.status-significant {
    color: var(--presence-significant);
}

.status-massive {
    color: var(--presence-massive);
}

#footer {
    font-size: 0.8rem;
    text-align: right;
    color: #444444;
}