:root {
    --main-bg-color: rgb(19, 19, 19);
    --secondary-bg-color: rgb(31, 31, 31);
    --main-border-color: rgb(56, 56, 56);
    --main-border-hover: rgb(78, 78, 78);
    --main-text-color: rgb(224, 224, 224);
    --secondary-text-color: rgb(94, 94, 94);
    --trinary-text-color: rgb(165, 165, 165);
    --accent-color: #ff7100;
    --footer-color: #444444;
    --presence-cleared: #57fc41;
    --presence-marginal: #c4fc41;
    --presence-moderate: #fcef41;
    --presence-significant: #fc8c41;
    --presence-massive: #fc4141;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'Roboto', sans-serif;
}

#main {
    margin-top: 0.5rem;
    width: 120ch;
}

/* Generic Classes */

h1, h2 {
    font-family: 'Lexend', sans-serif;
}

.boxstyle {
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--main-border-color);
    border-radius: 0.5rem;
    transition: border 400ms;
    padding: 1.3rem;
    margin: 0;
    margin-bottom: 1rem;
}

.boxstyle:hover {
    border: 1px solid var(--main-border-hover);
}

.header {
    padding: 1rem 1.3rem 1rem 1.3rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.header-links {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.header img {
    width: 3.3rem;
}

.header h1 {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-weight: normal;
    font-size: 2.5rem;
    transition: color 300ms;
}

.header h1:hover {
    color: var(--accent-color);
    cursor: default;
}

.header-subtitle {
    color: var(--secondary-text-color);
    margin-top: 0rem;
    margin-bottom: 0.3rem;
    align-self: flex-end;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: auto;
    height: auto;
}

.content article {
    width: auto;
}

.content article p {
    margin-block-start: 0.7rem;
    margin-block-end: 0rem;
    width: auto;
    line-height: 1.6rem;
}

.content h1 {
    margin: inherit;
    font-weight: normal;
}

.subsection {
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-border-color);
    border-radius: 0.5rem;
    padding: 1rem;
    transition: border 400ms;
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.subsection:hover {
    border: 1px solid var(--main-border-hover);
}

.subsection-end {
    margin-left: auto;
}

.subsection-row {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 0.5rem;
}

.subsection-row-end {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 0.5rem;
}

.subsection p {
    margin-top: 0.4rem;
    margin-bottom: 0rem;
}

.subsection h1 {
    margin: inherit;
    font-size: 1.3rem;
}

.subsection h2 {
    margin: 0;
    color: rgb(87, 87, 87);
    font-size: 1rem;
    font-weight: normal;
}

.subsection-link-box {
    display: flex;
    justify-content: center;
    flex-grow: 2;
}

.subsection-link {
    display: block;
    width: 100%;
    text-align: center;
    background-color: var(--main-bg-color);
    border: 1px solid var(--accent-color);
    border-radius: 0.5rem;
    padding: 0.6rem;
    font-size: 1.1rem;
    color: var(--accent-color);
    transition: color 400ms, border-color 400ms;
    text-decoration: none;
}

.subsection-link:hover {
    color: var(--main-text-color);
    border-color: var(--main-border-hover);
}

.button {
    color: var(--trinary-text-color);
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-border-color);
    border-radius: 0.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 250ms, border 250ms, background-color 250ms;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
}

.button:hover {
    color: var(--accent-color);
    border-color: var(--main-border-hover);
}

.button-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.button-row-label {
    margin: 0;
    color: var(--trinary-text-color);
}

.button-last {
    margin-left: auto;
}

button {
    color: var(--trinary-text-color);
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-border-color);
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: color 250ms, border 250ms;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
}

button:hover {
    color: var(--accent-color);
    border-color: var(--main-border-hover);
}

button:active {
    background-color: var(--main-border-color);
}

.axiorange {
    color: var(--accent-color);
}

.flex-wrap {
    flex-wrap: wrap;
}

.lastUpdated {
    font-size: 0.9rem;
    text-align: right;
    color: var(--secondary-text-color);
    margin-left: auto;
    font-family: 'Lexend', sans-serif;
    opacity: 0;
    transition: opacity 250ms;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .content {
        padding: 1rem;
    }

    .subsection {
        padding: 0.6rem;
    }

    #incursions {
        gap: 0.4rem;
    }

    .subsection-row {
        flex-direction: column;
    }

    .mobile-hide {
        display: none;
    }

    .main {
        width: 100%;
    }
  }

/* Specific ID's and content */

#incursions {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

#incstatus-title {
    font-size: 1.2rem;
    text-align: right;
    font-family: 'Lexend', sans-serif;
}

#incstatus-progress {
    display: flex;
    gap: 0.3rem;
    margin-top: 0.5rem;
    justify-content: flex-end;
    align-items: flex-end;
}

#incstatus-progress-block {
    width: 30px;
    border: 1px solid var(--main-border-color);
    border-radius: 0.2rem;
}

.status-block-0 {
    background-color: var(--secondary-bg-color);
    
}

.status-block-1 {
    background-color: var(--presence-marginal);
}

.status-block-2 {
    background-color: var(--presence-moderate);
}

.status-block-3 {
    background-color: var(--presence-significant);
}

.status-block-4 {
    background-color: var(--presence-massive);
}

.blockheight-1 {
    height: 10px;
}

.blockheight-2 {
    height: 12px;
}

.blockheight-3 {
    height: 14px;
}

.blockheight-4 {
    height: 16px;
}

.status-cleared {
    color: var(--presence-cleared);
}

.status-marginal {
    color: var(--presence-marginal);
}

.status-moderate {
    color: var(--presence-moderate);
}

.status-significant {
    color: var(--presence-significant);
}

.status-massive {
    color: var(--presence-massive);
}

#footer {
    font-size: 0.8rem;
    text-align: right;
    color: var(--footer-color);
}