th {
    background-color: var(--secondary-bg-color);
    padding: 0.5rem;
    border-radius: 0.3rem;
}

table {
    background-color: var(--main-bg-color);
    padding: 0.4rem;
    border-radius: 0.3rem;
}

td {
    height: 2rem;
    padding: 0rem 0.2rem 0rem 0.2rem;
}